<ng-container *ngFor="let CardElm of Cards; let i = index">
  <app-card-ui *ngIf=" (i %2) == 0"
               [Card]="CardElm"
               [BackFace]="BackFace"
               [BackFacePicture]="BackFacePicture"
               [NullPicture]="NullPicture"
               [ngStyle]="{'left.px': IsShuffling?0:i*2 }"
               [@NotificationAnimation]="animation_Type1"
               class="card"
  ></app-card-ui>
  <app-card-ui *ngIf=" (i %2) != 0"
               [Card]="CardElm"
               [BackFace]="BackFace"
               [BackFacePicture]="BackFacePicture"
               [NullPicture]="NullPicture"
               [ngStyle]="{'left.px':  IsShuffling?0:i*2 }"
               class="card"
               [@NotificationAnimation]="animation_Type2"
  ></app-card-ui>

</ng-container>

